body {
  text-align: center;
  font-family: "Source Sans Pro";
}

h1,
h2 {
  font-family: Oswald;
  margin: 0;
}

h3 {
  font-family: "Source Sans Pro";
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

button {
  cursor: pointer;
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 150px;
}

header {
  position: relative;
  height: 100vh;
  background-image: url("../assets/Desktop_Backgrounds_1920x1200_6\ 3.png");
  background-repeat: no-repeat;
  animation: bg-animation 5s infinite;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 50px 0;
  text-transform: uppercase;
}

.nav-logo-text {
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 20px;
}

.menu {
  display: flex;
  gap: 32px;
  letter-spacing: 0.2em;
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto;
}

.menu li {
  position: relative;
}

.menu li a:hover:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 97%;
  height: 2px;
  background-color: white;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.content img {
  transition: scale 500ms ease-in-out, transform 500ms ease-in-out;
}

.content img:hover {
  scale: 1.5;
  transform: rotateY(180deg);
}

header h1 {
  color: white;
  font-size: 48px;
  line-height: 64px;
  margin: 20px 0px;
}

header h2 {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 40px 0px;
}
.fa-bars {
  display: none;
}

.section-1 {
  background-color: #eeeeee;
  padding: 100px 0px;
}
.section-1 h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #464547;
}

.section-1 h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #666666;
  margin: 40px 0px;
}

.section-1 .text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  margin: 0 150px;
  text-align: left;
}

.section-1 button {
  font-family: Oswald;
  font-weight: 400;
  color: #ffffff;
  background-color: #55c2d8;
  border-radius: 18px;
  height: 36px;
  width: 115px;
  border: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 14px;
  transition: rotate 550ms;
  transform-origin: center left;
}

.section-1 button:hover {
  /* transform: rotate(10deg); */
  rotate: 10deg;
}

.section-2 {
  background-image: url("../assets/thumbnail.png");
  background-color: rgba(140, 79, 42, 0.3);
  background-blend-mode: difference;
  position: relative;
  height: 666px;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-2 h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #ffffff;
}
.section-2 h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  max-width: 385px;
}
.section-2 button {
  border-radius: 50%;
  background-color: #39c2d7;
  color: white;
  width: 150px;
  height: 150px;
  font-size: 100px;
  border: 0;
  margin: 60px 0px;
  transition: background-color 350ms ease-in-out, color 350ms ease-in-out;
}

.section-2 button:hover {
  background-color: white;
  color: #39c2d7;
}

footer {
  background-color: #464547;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
}

footer a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

footer img {
  vertical-align: middle;
}

span {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
  margin-left: 15px;
  font-size: 18px;
  color: #ffffff;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 80px;
  gap: 32px;
}

.footer-logo-container {
  flex-shrink: 0;
}

.footer-address-container {
  margin-right: auto;
  margin-left: 80px;
}

footer p {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .fa-bars {
    display: block;
    color: white;
    font-size: 25.14px;
  }

  .section-1 {
    text-align: left;
    padding: 65px 25px 120px;
  }

  .section-1 .text-container {
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 0;
  }

  .footer-flex {
    flex-direction: column;
    align-items: center;
  }
  .footer-address-container {
    text-align: center;
    margin: 0;
  }

  address {
    font-style: normal;
  }

  footer p {
    align-self: center;
  }

  .section-1 h2 {
    margin-right: 60px;
  }

  .section-2 h3 {
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    padding: 0 25px;
  }

  .content {
    width: 100%;
  }

  footer img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
      hue-rotate(233deg) brightness(106%) contrast(107%);
  }

  footer {
    padding: 60px 0 75px;
  }
}
